<fieldset>
    <legend>Edit game</legend>
    <!-- TITLE -->
    <div class='form-group'>
        <label for='game-title'>Title:</label><br>
        <input class='form-control' id='game-title' type='text' name='title' value='{{ game.title }}' />
    </div>

    <!-- DESCRIPTION -->
    <div class='form-group'>
        <label for='price'>Price</label><br>
        <p class='text-muted'>How much did the game cost:</p>
        <input class='form-control' id='game-price' type='text' name='price' value='{{ game.price }}' />
    </div>

    <!-- VIDEO LINKS -->
    <div class='form-group'>
        <label for='game-images'>Images:</label><br />
        <p class='text-muted'>Add images. Separate with a newline.</p>
        <input class='form-control' id='game-images' type='text' name='images' value='{{ game.images }}'
            rows='10' /></textarea>
    </div>
</fieldset>