{% extends 'base.html' %}

{% block content %}
<h1>Playlists</h1>

<div class='row'>
    {% for playlist in playlists %}
    <div class='col-md-3'>
        <h2><a href='/playlists/{{ playlist._id }}'>{{ playlist.title }}</a></h2>
        <small>{{ playlist.description }}</small>
    </div>
    {% endfor %}
</div>
{% endblock %}
<!-- MAKING A GRID LIKE FORMAT-->
<!--col-sm-3 means: On screens larger than a tablet, have this element take up three cells out of twelve that are the whole width of its parent element. Since 3/12 = 1/4-->